-- Crear la base de datos
CREATE DATABASE DistribucionPolitica;
GO
USE DistribucionPolitica;
GO

-- Funciones
CREATE FUNCTION dbo.NombreDistribucion (@DistribucionID INT)
RETURNS VARCHAR(100)
AS 
BEGIN 
    DECLARE @Nombre VARCHAR(100) = 'No posee.'
    SELECT @Nombre = Nombre 
    FROM Distribucion 
    WHERE ID = @DistribucionID
    RETURN @Nombre
END;
GO

CREATE FUNCTION dbo.NombreEntidad (@EntidadID INT)
RETURNS VARCHAR(50)
AS 
BEGIN 
    DECLARE @Nombre VARCHAR(50) = 'No posee.'
    SELECT @Nombre = Nombre 
    FROM Entidad 
    WHERE ID = @EntidadID
    RETURN @Nombre
END;
GO

CREATE FUNCTION dbo.RepresentarBooleano (@Valor TINYINT)
RETURNS VARCHAR(2)
AS
BEGIN 
    RETURN (CASE WHEN @Valor = 1 THEN 'Si' ELSE 'No' END)
END;
GO

-- Tablas
CREATE TABLE dbo.Entidad (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Inactivo TINYINT NOT NULL DEFAULT 0,
    Nombre VARCHAR(100) NOT NULL UNIQUE,
    Descripcion VARCHAR(250) NULL
);
GO

CREATE TABLE dbo.Distribucion (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Inactivo TINYINT NOT NULL DEFAULT 0,
    Entidad INT NOT NULL,
    EntidadSuperior INT NULL,
    DistribucionSuperior INT NULL,
    Nombre VARCHAR(100) NOT NULL,
    Capital TINYINT NOT NULL DEFAULT 0,
    Cabecera TINYINT NOT NULL DEFAULT 0,
    Fundacion DATE NULL,
    Superficie DECIMAL(18, 2) NULL,
    Poblacion BIGINT NULL,
    CodigoPostal VARCHAR(6) NULL
);
GO

-- Vistas
CREATE VIEW dbo.DistribucionView AS
SELECT 
    ID,
    Inactivo,
    dbo.RepresentarInactivo(Inactivo) AS InactivoTexto,
    Entidad,
    dbo.NombreEntidad(Entidad) AS EntidadTexto,
    EntidadSuperior,
    dbo.NombreEntidad(EntidadSuperior) AS EntidadSuperiorTexto,
    DistribucionSuperior,
    dbo.NombreDistribucion(DistribucionSuperior) AS DistribucionSuperiorTexto,
    Nombre,
    Capital,
    dbo.RepresentarBooleano(Capital) AS CapitalTexto,
    Cabecera,
    dbo.RepresentarBooleano(Cabecera) AS CabeceraTexto
FROM dbo.Distribucion;
GO

-- Entidades 
GO

